%h2 Newsfeed

= render "newsfeed/post_form"

- @posts.each do |post|
  .post
    =image_tag post.user.avatar.url(:lg), { class: "avatar-med img-circle", srcset: "#{post.user.avatar.url(:"lg")} 2x" }
    %h4= post.user.name
    -#%h3= post.title
    .body= post.body
