- title t("page_titles.dashboard")
- attributes({ class: "dashboard", :"data-user-id" => "#{current_user.id}" })

- unless @notifications.empty?
  .rightwrapper.alert-wrapper

    = render partial: "notifications/shared/notification", locals: { alert: true }

    = link_to t('links.dashboard.notifications.view-all'), notifications_path, { class: 'view-all'}

.rightwrapper
  %h2 Stats


