- title t("page_titles.notifications")
- attributes({ class: "notifications", :"data-user-id" => "#{current_user.id}" })

.rightwrapper
  .contentheader
    - if current_user.admin?
      %h2= t('page_titles.admin_notifications')
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    - else
      %h2= t('page_titles.notifications')
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


.rightwrapper
  = render partial: "notifications/shared/notification", locals: { admin: current_user.admin? ? true : false }

