.leftwrapper
  
  .student-info
  
    .student-info-primary
      .student-image.img-circle
        %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
      %p
        %span.student-name
          Michael Hfuhruhurr
        %span.student-school-name 
          / %span.icon.icon-marker / need this icon
          %span.icon.icon-pin
          %span.university-name
            University of Idaho
        %a.edit-profile{:href => "/"} Edit Profile
      
    .student-info-secondary
      %p.student-bio
        Plus sized hand model. Actually, that's a lie. I do know how to hypnotize a chicken though. Honest.
      %p.student-portfolio-link
        %a{:href => "/"} www.whoisowenjones.com
      %p.bio-links
        %a{:href => "/"} 
          %span.icon.icon-fb
        %a{:href => "/"} 
          %span.icon.icon-twitter
        %a{:href => "/"} 
          %span.icon.icon-instagram
        %a{:href => "/"} 
          %span.icon.icon-behance
        %a{:href => "/"} 
          %span.icon.icon-mail
      %h2.student-points
        %span.total 2346
        %span.pts pts

.leftwrapper
  
  .leaderboard
    
    %h2 Leaderboard
    %p Who's in the lead? Who is making moves? Check both individual and school rankings.
    
    %ul.btn-segmented.leaderboard-toggle
      %li.active
        %a.btn.btn-small.student{:href => "#"} Ambassador
      %li
        %a.btn.btn-small.school{:href => "#"} School
    
    %ul.leaderbaord-list.leaderboard-student
      %li 
        
        %span.student-rank  1
        %span.student-name  Vince Ready
        %span.student-score 8,888,888
      %li
        %span.student-rank  2
        %span.student-name  Nina Brentlinger
        %span.student-score 5,124
      %li
        %span.student-rank  3
        %span.student-name  Dylan Smith
        %span.student-score 4,835
      %li
        %span.student-rank  4
        %span.student-name  Leona Guidance
        %span.student-score 4,562
      %li
        %span.student-rank  5
        %span.student-name  Mark Rawlins
        %span.student-score 4,249
      %li
        %span.student-rank  6
        %span.student-name  Kate Bingaman-Burt
        %span.student-score 3,126
      %li
        %span.student-rank  7
        %span.student-name  Parturient Ultricies Egestas
        %span.student-score 2,639
      %li
        %span.student-rank  8
        %span.student-name  Leona Guidance
        %span.student-score 2,547
      %li
        %span.student-rank  9
        %span.student-name  Vince Ready
        %span.student-score 2,478
      %li
        %span.student-rank  10
        %span.student-name  Nina Brentlinger
        %span.student-score 2,246

