- @user.links.each do |u|
  %ul
    %li
      %span Adobe Student Microsite 
      %a{:href => "#"} 
        %span.icon.icon-fb
        %span.label Share on Facebook
      %a{:href => "#"} 
        %span.icon.icon-twitter
        %span.label Post on Twitter
      %a{:href => "#"} 
        %span.icon.icon-plus
        %span.label Copy link to clipboard

