#user-links-wrap
  - @user.links.each do |l|
    %ul
      %li
        %span= l.link_types.first.name
        = link_to link_path(l, "facebook") do
          %span.icon.icon-fb
          %span.label Share on Facebook

        = link_to link_path(l, "twitter") do
          %span.icon.icon-twitter
          %span.label Post on Twitter

        = link_to link_path(l) do
          %span.icon.icon-plus
          %span.label Copy link to clipboard

