- @user.links.each do |l|
  %ul
    %li
      %span Adobe Student Microsite 
      %a{:href => "#"} 
        %span.icon.icon-fb
        %span.label Share on Facebook
      %a{:href => "#"} 
        %span.icon.icon-twitter
        %span.label Post on Twitter
      %a{:href => "#{ }"} 
      = link_to link_path(l) do
        %span.icon.icon-plus
        %span.label Copy link to clipboard

