= link_to t('nav.home'), root_path
- if user_signed_in?
  = link_to t('nav.logout'), destroy_user_session_path, :method => :delete
  = link_to 'My Profile', profile_path
- else
  =link_to t('nav.login'), new_user_session_path
