- title t("page_titles.newsfeed")
- attributes({ :"data-user-id" => "#{current_user.id}" })

%h2 Newsfeed

= render "newsfeed/shared/post_form"

#posts-container{ :"data-pages" => @num_pages }

%a#more-posts= t('links.load_more_posts')

= render "dashboard/admin/admin_tools"
