.rightwrapper.alert-wrapper
  
  .notification
    .notification-content.alert.alert--info
      %a.alert-close{:href => "#"} 
        %span.icon.icon-close
    
      %p.notification-date 
        Monday October 18, 2013
      %h3 
        Happy Monday!
      %p
        Drake Equation the carbon in our apple pies, light years hearts of the stars with pretty stories for which there's little good evidence, consciousness bits of moving fluff brain is the seed of intelligence culture a still more glorious dawn awaits. Not a sunrise but a galaxyrise! Are creatures of the cosmos Apollonius of Perga extraplanetary, star stuff harvesting star light brain is the seed of intelligence. Muse about of brilliant syntheses galaxies! 
      %p 
        Network of wormholes with pretty stories for which there's little good evidence something incredible is waiting to be known Apollonius of Perga galaxies, network of wormholes? Flatland permanence of the stars Vangelis, stirred by starlight worldlets galaxies, billions upon billions! Consciousness.
      %p.notification-author 
        Nina Brentlinger
    %a.notification-view-all-link{:href => "#"}
      View all Notifications

.rightwrapper
  
  .leaderboard
    
    .contentheader
      %h2 Leaderboard
      %p Who's in the lead? Who is making moves? Check both individual and school rankings.
    
    .leaderboard-toggle
    
      %ul.btn-segmented
        %li.active
          %a.btn.btn-small.student{"data-toggle" => "tab", :href => ".leaderboard-student"} Ambassador
        %li
          %a.btn.btn-small.school{"data-toggle" => "tab", :href => ".leaderboard-school"} School
    
    .tab-content
    
      / student list
      %ul.leaderbaord-list.leaderboard-student.tab-pane.active
        %li 
        
          %span.student-rank  1
          %span.student-name  Vince Ready
          %span.student-score 8,888,888
        %li
          %span.student-rank  2
          %span.student-name  Nina Brentlinger
          %span.student-score 5,124
        %li
          %span.student-rank  3
          %span.student-name  Dylan Smith
          %span.student-score 4,835
        %li
          %span.student-rank  4
          %span.student-name  Leona Guidance
          %span.student-score 4,562
        %li
          %span.student-rank  5
          %span.student-name  Mark Rawlins
          %span.student-score 4,249
        %li
          %span.student-rank  6
          %span.student-name  Kate Bingaman-Burt
          %span.student-score 3,126
        %li
          %span.student-rank  7
          %span.student-name  Parturient Ultricies Egestas
          %span.student-score 2,639
        %li
          %span.student-rank  8
          %span.student-name  Leona Guidance
          %span.student-score 2,547
        %li
          %span.student-rank  9
          %span.student-name  Vince Ready
          %span.student-score 2,478
        %li
          %span.student-rank  10
          %span.student-name  Nina Brentlinger
          %span.student-score 2,246
      
      / school list
      %ul.leaderbaord-list.leaderboard-school.tab-pane
        %li 
          %span.student-rank  1
          %span.student-name  University of Idaho
          %span.student-score 8,888,888
        %li
          %span.student-rank  2
          %span.student-name  Baruch College, City University of New York
          %span.student-score 5,124
        %li
          %span.student-rank  3
          %span.student-name  California State University - Monterey Bay
          %span.student-score 4,835
        %li
          %span.student-rank  4
          %span.student-name  Butler University
          %span.student-score 4,562
        %li
          %span.student-rank  5
          %span.student-name  Ithaca College
          %span.student-score 4,249
        %li
          %span.student-rank  6
          %span.student-name  United States Merchant Marine Academy
          %span.student-score 3,126
        %li
          %span.student-rank  7
          %span.student-name  Rutgers, the State University of New Jersey--New Brunswick
          %span.student-score 2,639
        %li
          %span.student-rank  8
          %span.student-name  Northeastern University 
          %span.student-score 2,547
        %li
          %span.student-rank  9
          %span.student-name  Middle Tennessee State University
          %span.student-score 2,478
        %li
          %span.student-rank  10
          %span.student-name  Boise State University
          %span.student-score 2,246


.rightwrapper
  
  / workshop stats
  .contentheader
    %h2 Workshop Stats
    %p Kindling the energy hidden in matter the only home we've ever known, finite but unbounded.
  
  .workshop-stats
    .workshop-stat
      %span.stat-amount 3
      %span.icon.icon-workshops
      %span.stat-label Workshops Hosted 
    .workshop-stat
      %span.stat-amount 19
      %span.icon.icon-attendees
      %span.stat-label Total Atendees 
    .workshop-stat
      %span.stat-amount<
        87
        %span.stat-amount-percent-sign><
          \%
      %span.icon.icon-rating
      %span.stat-label Averate Rating
      
    
    
  


      
/ DO THIS FOR NOW UNTIL WE HAVE LOGIC IN THE APPLICATION TEMPLATE TO ADD THE CLASS
%script{:type=>"text/javascript"}
  $('.content').addClass('dashboard')

