/ .rightwrapper.dark

.rightwrapper.dark.new-post

  %form
    %textarea.new-post-text{:placeholder => "Write a new post…"}
    .secondary-inputs
      .photo-video-upload
        / %input.new-post-photo#file{:name => "file", :type => "file"}
        .photo-upload{:style => "overflow: hidden"}
          / %button.btn.btn-primary.choose-photo Choose Photo
          / %span.input-wrapper
          /   %input{:type => "text"}/
          %div{:style => "float: left;"}
            %button.btn.btn-primary.choose-photo Choose Photo
          %div{:style => "overflow: hidden"}
            %input{:disabled => "", :type => "text", :placeholder => "Browse to an image…"}
        %input.new-post-video-url{:type => "text", :placeholder => "Enter YouTube or Vimeo URL…"}
    .new-post-buttons
      .photo-video-toggle  
        %a{:class => "photo-upload-link", :href => "#"}
          %span.icon.icon-photo
          %span.link-text Upload Photo
        %a{:class => "video-upload-link", :href => "#"}
          %span.icon.icon-video
          %span.link-text Embed Video
      .new-post-action
        %input.btn.new-post-cancel{:type => "reset", :value => "Cancel"}
        %input.btn.btn-primary.new-post-submit{:type => "submit", :value => "Post"}
    
  %a{:class => "mobile-new-post-toggle", :href => "#"}
    %span.icon.icon-box-1
    %span.link-text New Post


  
.rightwrapper
  .post{"data-id" => "30"}
    / .avatar-med.img-circle
    /   %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
    .post-author
      .author-image.img-circle
        %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
      %p
        %span.author-name
          %a{:href => "/users/5"} Michael Hfuhruhurr
        %span.author-school-name 
          / %span.icon.icon-marker / need this icon
          %span.icon.icon-pin
          %span.university-name
            University of Idaho
        
    .post-edit
      %a.edit
        %span.icon.icon-edit
      .post-edit-options
        %ul
          %li
            %a{:href => "#"} Delete
          %li
            %a{:href => "#"} Edit
    
    .post-content
      
      .text-wrapper
        %p Colonies descended from astronomers, dream of the mind's eye the ash of stellar alchemy, hydrogen atoms? Inconspicuous motes of rock and gas.
        %p Dream of the mind's eye the only home we've ever known. Descended from astronomers science rich in mystery? Jean-François Champollion venture a billion trillion shores of the cosmic ocean?
  
      .post-image
        %img{:src => "http://placekitten.com/800/500"}
        %a.btn.btn-small.btn-primary.remove-image{:href => "#"} 
          Delete
          / %span.icon.icon-close
      .post-video
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "349", :src => "http://www.youtube.com/embed/FKWwdQu6_ok", :width => "425"}
      .post-meta
        %span.timestamp
          / %span.icon.icon-clock / need this icon
          %span.icon.icon-clock
          %span.short-time
            16h
          %span.long-time
            16 hours ago
        
        %span.rating
          %span.icon.icon-star.star-lit
          %span.icon.icon-star.star-lit
          %span.icon.icon-star.star-lit
          %span.icon.icon-star
          %span.icon.icon-star
      
    .post-action  
      %a{:class => "comment-link", "data-remote" => "", :href => "#"}
        %span.icon.icon-comment
        %span.link-text Comment
      %a{:class => "like-link liked", "data-remote" => "", :href => "#"}
        %span.icon.icon-like
        %span.link-text Like (12)
    
    .post-comments
      / %a{:class => "more-comments", :href => "#"} 
      /   2 more comments
      /   %span.icon.icon-star
      .comment
        .author-image.img-circle
          %a{:href => "/users/5"}
            %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
        %p 
          %span.author-name
            %a{:href => "/users/5"} Michael Hfuhruhur
          Tunguska event? Venture, gathered by gravity, prime number, Sea of Tranquility the carbon in our apple pies Drake Equation!
        %p 
          At the edge of forever, science rich in heavy atoms tingling of the spine from which we spring cosmic fugue, inconspicuous motes of rock and gas something incredible is waiting to be known brain is the seed of intelligence another world Orion's sword Cambrian explosion.

      .comment
        .author-image.img-circle
          %a{:href => "/users/5"}
            %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
        %p 
          %span.author-name
            %a{:href => "/users/5"} Michael Hfuhruhur
          Whatever.


      .comment
        .author-image.img-circle
          %a{:href => "/users/5"}
            %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
        %p 
          %span.author-name
            %a{:href => "/users/5"} Michael Hfuhruhur
          Network of wormholes hundreds of thousands Flatland light years circumnavigated billions upon billions colonies Euclid. 
      
    %form.comment-form
      %textarea{:placeholder => "Write a comment..."}
      / %input.btn{:type => "submit", :value => "Submit"}/

.rightwrapper
  .post{"data-id" => "30"}
    / .avatar-med.img-circle
    /   %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
    .post-author
      .author-image.img-circle
        %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
      %p
        %span.author-name
          %a{:href => "/users/5"} Michael Hfuhruhurr
        %span.author-school-name 
          / %span.icon.icon-marker / need this icon
          %span.icon.icon-pin
          %span.university-name
            University of Idaho
    
    / .post-edit.edit-active
    /   %a.edit
    /     %span.icon.icon-edit
    /   .post-edit-options
    /     %ul
    /       %li
    /         %a{:href => "#"} Delete
    /       %li
    /         %a{:href => "#"} Edit
    
    .post-content
      
      .text-wrapper
      
        %p Descended from astronomers science rich in mystery? Jean-François Champollion venture a billion trillion shores of the cosmic ocean?
  
      / .post-image
      /   %img{:src => "http://placekitten.com/800/500"}
      .post-meta
      
        %span.timestamp
          / %span.icon.icon-clock / need this icon
          %span.icon.icon-clock
          %span.short-time
            16h
          %span.long-time
            16 hours ago
        
        / %span.like-count 
        /   %span.icon.icon-star
        /   12 Likes
        / %span.comment-count
        /   %span.icon.icon-star
        /   2 Comments
      
        / %span.rating
        /   %span.icon.icon-star.star-lit
        /   %span.icon.icon-star.star-lit
        /   %span.icon.icon-star.star-lit
        /   %span.icon.icon-star
        /   %span.icon.icon-star
        /   
      /   
    .post-action  
      %a{:class => "comment-link", "data-remote" => "", :href => "#"}
        %span.icon.icon-comment
        %span.link-text Comment
      %a{:class => "like-link", "data-remote" => "", :href => "#"}
        %span.icon.icon-like
        %span.link-text Like
    
    / 
    / .post-comments
    /   %a{:class => "more-comments", :href => "#"} 
    /     2 more comments
    /     %span.icon.icon-star
    /   .comment
    /     .author-image.img-circle
    /       %a{:href => "/users/5"}
    /         %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
    /     %p 
    /       %span.author-name
    /         %a{:href => "/users/5"} Michael Hfuhruhur
    /       Tunguska event? Venture, gathered by gravity, prime number, Sea of Tranquility the carbon in our apple pies Drake Equation!
    /     %p 
    /       At the edge of forever, science rich in heavy atoms tingling of the spine from which we spring cosmic fugue, inconspicuous motes of rock and gas something incredible is waiting to be known brain is the seed of intelligence another world Orion's sword Cambrian explosion.
    / 
    /   .comment
    /     .author-image.img-circle
    /       %a{:href => "/users/5"}
    /         %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
    /     %p 
    /       %span.author-name
    /         %a{:href => "/users/5"} Michael Hfuhruhur
    /       Whatever.
    / 
    / 
    /   .comment
    /     .author-image.img-circle
    /       %a{:href => "/users/5"}
    /         %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
    /     %p 
    /       %span.author-name
    /         %a{:href => "/users/5"} Michael Hfuhruhur
    /       Network of wormholes hundreds of thousands Flatland light years circumnavigated billions upon billions colonies Euclid. 
    /   
    / %form.comment-form
    /   %textarea{:placeholder => "Write a comment..."}
    /   / %input.btn{:type => "submit", :value => "Submit"}/

        
.rightwrapper
  %h2 Another item can be here
  %p 
    At the edge of forever, science rich in heavy atoms tingling of the spine from which we spring cosmic fugue, inconspicuous motes of rock and gas something incredible is waiting to be known brain is the seed of intelligence another world Orion's sword Cambrian explosion.

.rightwrapper
  %h2 And Another...
  %p 
    At the edge of forever, science rich in heavy atoms tingling of the spine from which we spring cosmic fugue, inconspicuous motes of rock and gas something incredible is waiting to be known brain is the seed of intelligence another world Orion's sword Cambrian explosion.
