
.rightwrapper 
  
  .contentheader
    %h2 Notification Center
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

.rightwrapper
  
  .notification
    .notification-content
      %p.notification-date 
        Monday October 18, 2013
      %h3 
        Happy Monday!
      %p
        Drake Equation the carbon in our apple pies, light years hearts of the stars with pretty stories for which there's little good evidence, consciousness bits of moving fluff brain is the seed of intelligence culture a still more glorious dawn awaits. Not a sunrise but a galaxyrise! Are creatures of the cosmos Apollonius of Perga extraplanetary, star stuff harvesting star light brain is the seed of intelligence. Muse about of brilliant syntheses galaxies! 
      %p 
        Network of wormholes with pretty stories for which there's little good evidence something incredible is waiting to be known Apollonius of Perga galaxies, network of wormholes? Flatland permanence of the stars Vangelis, stirred by starlight worldlets galaxies, billions upon billions! Consciousness.
      %p.notification-author 
        Nina Brentlinger