defaults: &defaults
  adapter: postgresql
  encoding: unicode
  reconnect: false
  pool: 5
  username: <%= ENV["USER"] %>
  password:
 
development:
  <<: *defaults
  database: adoberep_dev
 
test:
  <<: *defaults
  database: adoberep_test

staging:
  <<: *defaults
  database: adoberep_staging
  username: deploy
  password: C;6DXu[o(m}d?E6h)]

production:
  <<: *defaults
  database: adoberep_production
  username: deploy
  password: C;6DXu[o(m}d?E6h)]
