// styles for post composer are here
// .new-post modifies rightwrapper 
.new-post {
	
	@include clearfix;
	// padding-top: 0px;
	// padding-bottom: 0px;
	padding: 0 0 0 0;
	@include transition(all);
	// @include transitionDelay(.25s);
	@include translate3d ();
	
	background-color: $wellbg;
	color: $tertiarycolor;
	
	
	form {
		display: block;
		overflow: hidden;
		// height:0;
		max-height: 0px;
		margin-bottom: 0;
		padding: 0px 20px 0px 20px;
		@include transition(all);
		// @include transitionDelay(.5s);
		// @include translate3d (0, -150%);
		// @include opacity (0%);
		@include translate3d ();
		
		textarea {
			max-height: 200px;
		}
	}
	
	// had to override the .dark to level up on specificity
	// to be able to change the bg color for the New Post Button
	// &.dark {
	// 	// background-color: $tertiarycolor;
	// }
	
	@include media-query-bp($bp3) {
		
		padding: 40px 20px 40px 20px;
		
		form {
			// height: auto;
			max-height: 380px;
			padding: 0px 0px 0px 0px;
			// padding: 40px 20px 40px 60px;
			
		}
		
	}
	
	@include media-query-bp($bp4) {
		padding: 40px 20px 40px 60px;
	}
	
	.mobile-new-post-toggle {
		position: relative;
		display: block;
		padding: 20px;
		text-align: center;
		overflow: hidden;
		max-height: 70px;
		background-color: $tertiarycolor;
		
		@include transition(all);
		// @include transitionDelay(.25s);
		@include translate3d ();
		
		
		.icon {
			// padding-top: 10px;
			display: inline-block;
			vertical-align: top;
			font-size: 28px;
			// margin-top: 0px;
			margin-right: 5px;
		}
		
		.link-text {
			@include text-h2-size;
			display: inline-block;
			max-width: 350px;
			overflow: hidden;
			margin-top: 2px;
			margin-bottom: 0px;
			
		}
		&:hover {
			// color: $primarycolor;
			text-decoration: none;
		}
		
		
		@include media-query-bp($bp3) {
			// max-height: 0px;
			display: none;
		}
	}
	
	&.mobile-new-post-active {
		// background-color: $secondarycolor;
		// padding-top: 40px;
		// padding-bottom: 40px;
		// @include transitionDelay(0s);
		
		form {
			padding-top: 40px;
			padding-bottom: 40px;
			// padding: 40px 20px 40px 60px;
			
			// height:auto;
			max-height: 380px;
			// @include opacity (100%);
			// @include translate3d (0, 0%);
			@include media-query-bp($bp3) {
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}
		
		.mobile-new-post-toggle {
			
			max-height: 0px;
			// @include opacity (0);
			// @include translate3d (0, 50%);
			// @include transitionDelay(.5s);
			
			padding: 0px 0px 0px 0px;
		}
	}
	
	// .photo-upload{:style => "overflow: hidden"}
    //   %div{:style => "float: left;"}
    //     %button.btn.btn-primary.choose-photo Choose Photo
    //   %div{:style => "overflow: hidden"}
    //     %input{:disabled => "", :type => "text", :placeholder => "Browse to an image…"}
    
	
	
	// all inside the form tag
	.secondary-inputs {
		@include transition(all);
		@include opacity(0);
		position: relative;
		overflow: hidden;
		height: 0px;
		@include clearfix;
		
		
		.photo-video-upload {
			@include transition(all);
			@include transitionDelay(.25s);
			position: absolute;
			top: 0px;
			overflow: hidden;
			width: 100%;
			max-height: 100px;
			height: 100px;
			
			div.post_post_image {
			        display: none;
			}
			
			.photo-upload {
				overflow: hidden;
				.choose-photo-btn-wrapper {
					float: left;
				}
				.choose-photo-input-wrapper {
					overflow: hidden;
				}
			}
		}
		
		&.choose-photo {
			height: 43px;
			@include opacity(1);
			
			.photo-video-upload {
				top: 0px;
			}
		}
		&.choose-video {
			height: 43px;
			@include opacity(1);
			
			.photo-video-upload {
				top: -43px;
			}
		}
	}
	
    .new-post-buttons {
		padding: 10px 0px 20px 0px;
		.photo-video-toggle {

			float: left;
			margin-top: 3px;
			a {
				color: $white;
				white-space: nowrap;
				
				&.photo-upload-link {
					padding-top: 10px;
				}
				&.video-upload-link {

				}
				
				&.selected,
				&:hover {
					color: $primarycolor;
					text-decoration: none;
				}
			}

			.icon {
				display: inline-block;
				vertical-align: top;
				font-size: 28px;
				margin-top: 0px;
				margin-right: 5px;
			}

			.link-text {
				display: inline-block;
				max-width: 0px;
				overflow: hidden;
				margin-top: 5px;
			}

			@include media-query-bp($bp4) {
				.link-text {
					max-width: 350px;
				}
			
				a {
					padding: 0px 20px 0px 0px;
				}
			}
		}
		
		.new-post-action {
			float: right;
		}
		
		.new-post-cancel {
			border-color: lighten($secondarycolor,20%);
			border-bottom-color : lighten($secondarycolor,10%);
			margin-right: 10px;
			
			@include media-query-bp ($bp3) {
				display: none;
			}
			
		}
		.new-post-submit {
			// float: right;
		}
	}
}


.post-wrapper {
	@include media-query-bp($bp3, "max") {
		padding: 10px;
	}
}


// styles for each individual post are south of here

.post {
	position: relative;
	background-color: $white;
	// padding: 10px 10px 0px 10px;
	
	p {
		margin-top: 0;
	}
	
	&:last-child {
		// margin-bottom: 0px;
	}
	
	@include media-query-bp($bp3) {
		padding: 0px 0px 0px 0px;
	}
}

.post-author {
	
	position: relative;
	min-height: 56px;
	margin-bottom: 5px;
	padding: 10px 10px 10px 10px;
	
	p {
		margin: 0 0 0 60px;
		padding-top: 6px;
	}
	
	.author-image {
		position: absolute;
		left: 5px;
		top: 5px;
		width: 56px; // add 3 px all around to accomodate for 3px stroke
	}
	
	.author-name {
		@include text-h2-size;
		font-weight: bold;
		margin: 0 5px 0 0;
	}
	
	.author-school-name {
		@include text-xsmall;
		@include text-color-light;
		display: block;
		font-weight: bold;
	}
	
	@include media-query-bp($bp3) {
		
		p {
			margin: 0 0 0 50px;
			padding-top: 6px;
		}
		
		.author-image {
			position: absolute;
			left: -5px;
			top: 5px;
			width: 56px; // add 3 px all around to accomodate for 3px stroke
		}
	}
	
	@include media-query-bp($bp4) {
		
		min-height: auto;
		padding: 0px 0px 0px 0px;
		padding-top: 18px;
                margin-bottom: 12px;
		
		p {
			margin: 0 0 0 0;
			padding-top: 0px;
		}
		
		.author-image {
			position: absolute;
			left: -82px; // 66 + 16 = 82
			top: 0px;
			width: 66px; // add 3 px all around to accomodate for 3px stroke
		}
		.author-school-name {
			// display: inline-block;
		}
	}
}

.post-edit {
	
	position: absolute;
	top: 18px;
	right: 10px;
	z-index: 10;
	
	@include media-query-bp($bp3) {
		right: 0px;
	}
	
	a.edit {
		cursor: pointer;
		font-size: 24px;
		position: absolute;
		top: 0px;
		right: 0px;
		
		&:hover {
			text-decoration: none;
			span.icon-edit:before {
				content: "\5d";
			}
		}
	}
	
	.post-edit-options {
		
		// hide until the active class is added
		display: none;
		
		position: relative;
		top: 44px;
		right: 0px;
		background-color: $white;
		border: 1px solid $lightneutralcolor;
		padding: 20px;
		
		// creates the arrow at the top of the box
		&:after { 
			pointer-events: none;
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top:    10px solid transparent;
			border-left:   10px solid transparent;
			border-right:  10px solid transparent;
			border-bottom: 10px solid white;
			position: absolute;
			top: -20px;
			right: 1px;
			margin-top: 1px; 
			z-index: 2; 
		}	
		
		&:before { 
			pointer-events: none;
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top:    10px solid transparent;
			border-left:   10px solid transparent;
			border-right:  10px solid transparent;
			border-bottom: 10px solid $lightneutralcolor;
			position: absolute;
			top: -20px;
			right: 1px;
			// margin-top: -50px; 
			margin-left: 0px;
			z-index: 1; 
		}	

		ul {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			
			li {
				@include text-small;
				margin: 0 0 10px 0;
				padding: 0 0 0 0;
				
				line-height: 1em;
				list-style: none;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	
	/*&.edit-active {*/
	&.non-modal {
		a.edit {
			span.icon-edit:before {
				content: "\5d";
			}
		}
		
		.post-edit-options {
			display: block;
		}
		
	}
	
}

.post-content {
	
	padding: 0px 10px 15px 10px;
	
	@include media-query-bp($bp3) {
		padding: 0 0 20px 0;
	}
	
	.post-image {
		position: relative;
		margin-bottom: 15px;
		
		.remove-image {
			// background-color: $white;
			// border-radius : 50%;
			// @include box-shadow(0px 0px 8px rgba(0,0,0,.25));
			// padding: 3px;
			display: none;
			position: absolute;
			top: 10px;
			right: 10px;
			// font-size: 36px;
			// color: $warningcolor;
			// 
			// &:hover {
			// 	text-decoration: none;
			// 	color: lighten($warningcolor, 5%);
			// 	// darken($tertiarycolor, 5%);
			// }
		}
	}
	
	.post-video {
	  margin-bottom: 10px;
		
	  // position: relative;
	  // padding-top: 25px;
	  // // padding-bottom: 67.5%;
	  // padding-bottom: 52.5%;// for 16x9 aspect ratios
	  // height: 0;
	  // margin-bottom: 10px;
	  // overflow: hidden;
	  // 	
	  // &.widescreen { padding-bottom: 57.25%; }
	  // &.vimeo { padding-top: 0; }
	  // &.flex-six { padding-bottom: 51.5%;}
	  // 	
	  // iframe, object, embed, video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	  // 	
	}
	
	&.editing {
		
		.text-wrapper, 
                .post-meta,
		.post-video {
			display: none;
		}
		.remove-image {
			display: block;
		}
	}
	
	.post-meta {
		@include clearfix;
		padding: 0 0 0px 0;
		
		@include media-query-bp($bp3) {
			padding: 0 0 0px 0;
		}
	}
	
	.timestamp {
		float: left;
		@include text-xsmall;
		@include text-color-light;
		
		.long-time {
			display: none;
		}
		
		@include media-query-bp($bp3) {
			.long-time {
				display: inline-block;
			}
			.short-time {
				display: none;
			}
		}
	}
	
	.like-count,
	.comment-count {
		float: left;
		@include text-xsmall;
		@include text-color-light;
		margin-left: 10px;
	}
	
	.rating {
		float: right;
		@include text-xsmall;
		@include text-color-light;
		
		.icon-star {
	        position:relative;
			
			&.star-lit {
				color: #fbab20;
				text-shadow: 0px 1px 1px rgba($textcolorlight, .5);
			}
			
		    &:after {
		        content: '';
		        position:absolute;
		        display:block;
		        top:0;
		        left:0;
		        height:100%;
		        width:100%;
		        background: -moz-linear-gradient(	top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: -webkit-linear-gradient(top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: -o-linear-gradient(		top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: -ms-linear-gradient(	top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: linear-gradient(		top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
		    }
		}
	}
}

.post-action {
	@include clearfix;
	
	a {
		
		display: block;
		width: 50%;
		float: left;
		// $buttonpadding 					: 5px 15px 5px 15px;
		padding: 8px 5px 8px 5px;;
		background-color: $tertiarycolor;
		// @include text-h2-size;
		@include text-normal;
		// include margin bottom below ht text size import to override
		margin-bottom: 0px;
		text-align: center;
		
		&:hover {
			text-decoration: none;
			.link-text {
				text-decoration: underline;
			}
			
			.icon {
				color: inherit;
			}
		}	
		
		span {
			
			&.icon {
				@include transition(all, .05s);
				color: $textcolorlight;
				padding-right: 5px;
				margin-top: 2px;
				display: inline-block;
				vertical-align: top;
			}

			&.link-text {

			}
		}
				
		&.by-author {
			.icon {
				color: $primarycolor;
				text-shadow: 0px 0px 2px rgba($white, 1),
							 0px 0px 4px rgba($primarycolor, .5);
				// &:after {
				// 	content: '';
				// 	position:absolute;
				// 	display:block;
				// 	top:0;
				// 	left:0;
				// 	height:100%;
				// 	width:100%;
				// 	background: -moz-linear-gradient(	top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
				// 	background: -webkit-linear-gradient(top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
				// 	background: -o-linear-gradient(		top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
				// 	background: -ms-linear-gradient(	top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
				// 	background: linear-gradient(		top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
				// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
				// }
				
			}
		}
		
		&:last-child {
			border-left: 1px solid $lightneutralcolor;
		}
	}
	
	@include media-query-bp($bp3) {
		
		padding-bottom: 10px;
		
		a {
			display: inline-block;
			float: none;
			width: auto;
			padding: 0px 10px 0px 0px;
			background-color: transparent;

			@include text-normal;

			&:last-child {
				border-left: none;
			}
		}
	}
}


.post-comments {
	background-color: $sidebarbg;
	padding: 10px;
	margin: 10px 10px 16px 10px;
	
	@include media-query-bp($bp3) {
		margin: 10px 0px 16px 0px;
	}
	
	.more-comments {
		// @include text-h2-size;
		font-weight: bold;
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0 0 0 0;
	
		&.hidden {
			display: none;
		}
	}
	
	.comment {
		position: relative;
		min-height: 51px;
		margin-bottom: 6px;
		
		p {
			margin: 0 0 0 60px;
			// padding-top: 16px;
			@include text-small;
			@include text-color-light;
			
			&:first-of-type {
				padding-top: 16px;
			}
			
			&:last-child {
				margin-bottom: 0px;
			}
		}
		
		.author-image {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 51px; // 45 + add 3 px all around to accomodate for 3px stroke
			float: left;
		}
	}
	
	@include media-query-bp($bp3) {
		padding: 20px 20px 20px 20px;
	}
}

.comment-form {
	margin: 0 0 0 0;
	padding: 0px 10px 10px 10px;
	
	@include media-query-bp($bp3) {
		padding: 0 0 0 0;
	}
	
	textarea {
		margin: 0 0 0 0;
	}
}


// END NEWSFEED CONTENT //////////////////////////////////////////////
