// $bp2 : 480px 	30em
// $bp3 : 600px 	37.5em
// $bp4 : 768px 	48em
// $bp5 : 992px 	62em
// $bp6 : 1382px	86.375em


// These styles modify the student-info layout for the member directory
// Put this in a mixin because they're called from the bp2 & bp4 media queries but not from b3
@mixin directory-entry-styles() {
	
	.student-info-primary {
		@include span-columns(7);
		margin-bottom: 0;
	}

	.student-info-secondary {
		@include span-columns(5);
		text-align: right;
	
		.bio-links {
			margin: 10px 0 0 0;
			
			.icon {
				font-size: 1.875em; // 30/16 = 1.875
				margin: 0 0px 0px 0;
			}
		}
	}
}

// modifies rightwrapper 
.student-info-wrapper {
	
	// hide the rightwrapper that contains the duplicate profile content 
	// when larger than the 3rd breakpoint
	@include media-query-bp($bp3) {
		display: none;
	}
	
	// but until then, remove its padding
	@include media-query-bp($bp3, "max") {
		padding: 0;
	}
}

.student-info {
	@include outer-container;
	
	.student-info-primary {
		position: relative;
		margin-bottom: 10px;
		@include clearfix;
		
		.student-image {
			width: 86px;
			margin-bottom: 10px;
			margin-left: -5px;
		}

		p {
			margin: 0 0 0 0;
		}

		@include media-query-bp($bp5) {
			.student-image {
				position: absolute;
			}

			p {
				padding: 15px 0px 0px 0px;
				margin: 0px 0px 10px 90px;
			}
		}

		.student-name {
			@include text-h2-size;
			font-weight: bold;
			display: block;
			margin: 0 0 0 0;
		}

		.student-school-name {
			@include text-small;
			@include text-color-light;
			display: block;
			font-weight: bold;
			margin: 0 0 0 0;

                        &.adobe span.icon-pin {
                          color: #fc0d1b;
                        }
		}

		.edit-profile {
			@include text-small;
			display: block;
			margin: 0 0 0 0;
		}
	}

	.student-info-secondary {
		margin: 0 0 0 0;

		.student-bio p {
			@include text-small;
			@include text-color-light;
			margin: 0 0 0px 0;
		}

		.student-portfolio-link {
			@include text-small;
			margin: 0 0 10px 0;
		}

		.bio-links {
			margin: 0 0 10px 0;
			display: inline-block;
			
			a,
			a:hover {
				text-decoration: none;
			}
			
			.icon {
				font-size: 1.875em; // 30/16 = 1.875
				display: inline-block;
			}
		}

		.student-points {
			@include text-color-light;
			font-weight: lighter;
			margin: 0 0 0 0;

		    .total {
				font-size: 2.5em; // 40/16 = 2.5
				line-height: 1em;
			}
		}
	}
	
	.student-profile & {
		
		margin-top: 0px;
		padding-top: 0px;

		.student-info-primary {

			.student-image {
				width: 146px;
				position: absolute;
				top: -106px;
			}

			p {
				margin: 50px 0 0 0;
			}

			.student-name {
				@include text-h1-size;
				margin: 0 0 0 0;
			}

			.student-school-name {
				@include text-normal;
				margin: 0 0 0 0;
			}

			.edit-profile {
				display: none;
			}
		}
	}
	
	.student-profile .rightwrapper & {
		padding: 20px;
		background-color: $white;
		
		.student-info-primary {
			
			.student-image {
				width: 76px;
				position: absolute;
				top: -56px;
			}
			
			p {
				margin: 30px 0 0 0;
			}
			.student-name {
				@include text-h2-size;
				margin: 0 0 0 0;
			}
			.student-school-name {
				@include text-small;
				margin: 0 0 0 0;
			}
		}
		
		.student-info-secondary {
			.bio-links {
				.icon {
					font-size: 2.8125em; // 45/16 = 2.8125
					margin: 0 5px 10px 0;
				}
			}
		}
		
		@include media-query-bp($bp3) {	
			display: none;
		}
	}
	
	// when student-info is nested in the member-directory...
	.member-directory & {
		padding: 10px;
		
		.student-info-primary {
			position: relative;
			margin-bottom: 10px;
			@include clearfix;
			
			.student-image {
				position: absolute;
			}

			p {
				padding: 20px 0px 0px 0px;
				margin: 0px 0px 10px 90px;
				min-height: 86px;
			}
		}
		
		.student-info-secondary {
			
			.student-bio {
				@include text-small;
				@include text-color-light;
				margin: 0 0 0px 0;
			}
			
			.student-portfolio-link {
				margin: 0 0 10px 0;
			}
			
			.bio-links {
				
				.icon {
					font-size: 2.8125em; // 45/16 = 2.8125
					margin: 0 5px 10px 0;
				}
			}
		}
		
		// Need the same styles called from mq 2 and 4 but not 3
		// feels kinda dirty putting max mq's in here but think it's better than
		// setting shit, overriding it, then resetting it to exactly what it was.
		// mobile portrait:
		@include media-query-bp($bp2) {
			@include media-query-bp(($bp3 - 1), "max") {
				@include directory-entry-styles;
			}
		}
		
		// tablet portrait:
		@include media-query-bp($bp4) {
			@include directory-entry-styles;
		}
		
		// 
		@include media-query-bp($bp5) {
			.student-info-primary {
				.student-image {
					width: 126px;
				}

				p {
					padding: 40px 0px 0px 0px;
					margin: 0px 0px 0px 140px;
					min-height: 126px;
				}
			}

			.student-info-secondary {
				.bio-links {
					margin: 20px 0 0 0;
					.icon {
						margin: 0 0px 10px 0;
					}
				}
			}
		}
	}
}


// gonna put other sidebar stuff here for now...

.leaderboard {
	
	.btn-segmented {
		margin-bottom: 10px;
	}
	
	.btn-small {
		padding: 5px 10px;
	}
	
	// hide from desktop if it's on the dashboard page and in the rightwrapper
	.dashboard .rightwrapper & {
		
		.leaderboard-toggle {
			text-align: center;
		}

		.btn-segmented {
			margin-bottom: 20px;
			width: 275px;
			@include clearfix;

			li {
				display: inline-block;
				width: 50%;

				a {
					width: 100%;
					padding : $buttonpadding;
					margin-bottom : 0;
					@include font-size($buttonfontsize);
					line-height : $baselineheight;
				}
			}
		}
		
		@include media-query-bp($bp3) {	
			display: none;
		}
	}
	
}

ul.leaderbaord-list {
	
	li {
		@include outer-container;
		@include clearfix;
		list-style: none;
		@include text-xsmall;
		line-height: 1em;
		margin: 0 0 0 0;
		padding: 5px 0 5px 0;
		border-bottom: 1px solid $lightneutralcolor;
		
		&:first-child {
			border-top: 1px solid $lightneutralcolor;
		}
		
		span {
			&.student-rank {
				@include span-columns(1 of 12);
				font-weight: bold;
				// padding-left: 5px;
				color: $primarycolor;
			}
			&.student-name {
				@include span-columns(8 of 12);
				font-weight: bold;
			}
			&.student-score {
				@include span-columns(3 of 12);
				text-align: right;
				// padding-right: 5px;
			}
		}
		
		@include media-query-bp($bp3) {
			
			span {
				&.student-rank {
					@include span-columns(1 of 8);
					// padding-left: 0px;
				}
				&.student-name {
					@include span-columns(4 of 8);
				}
				&.student-score {
					@include span-columns(3 of 8);
					// padding-right: 0px;
				}
			}
		}
		@include media-query-bp($bp5) {
			
			span {
				&.student-rank {
					@include span-columns(1 of 12);
					// text-align: right;
				}
				&.student-name {
					@include span-columns(8 of 12);
					// padding-left: 5px;
				}
				&.student-score {
					@include span-columns(3 of 12);
					// padding-right: 5px;
				}
			}
		}
		
		
	}
}

.share-a-link {
}

.collapsible {
	background-color: $white;
	border: 1px solid $lightneutralcolor;
	margin-bottom: 20px;
	padding: 10px 15px;
	overflow: hidden;
	@include transition(margin, .25s);
	
	&.open {
		a.collapsible-header {
			margin-bottom: 10px;
		}
		ul {
			height: auto;
			max-height: 250px;
			// @include transition(max-height, $transitionduration, ease-out);
		}
		span.icon-expand:before {
			// .icon-expand:before {
			// 	content: "\23";
			// }
			// .icon-contract:before {
				content: "\2d";
			// }
			
		}
	}
	
	
	a.collapsible-header {
		
		display: block;
		width: 100%;
		@include text-small;
		@include text-color-light;
		margin-bottom: 0px;
		
		&:hover {
			@include text-color-normal;	
		}
		
		.icon {
			float: right;
		}
	}
	
	ul {
		margin-bottom: 0;
		height: 0px;
		max-height: 0px;
		overflow: hidden;
		// @include transition(max-height, .25s);
		@include transition(max-height, $transitionduration, ease-in);
		
		li {
			list-style-type: none;
			
			a {
				display: inline-block;
				// padding-bottom: 5px;
				width: 100%;
				
				@include outer-container;
				
				&:hover {
					text-decoration: none;
					span.label {
						text-decoration: underline;							
					}
				}
				
				span {
					display: inline-block;
					vertical-align: text-top;
					
					&.icon {
						@include span-columns(3);
						min-width: 20px;
						max-width: 20px;
						
						font-size: 1.25em; // 20/16 = 1.25
						// margin: 0 5px 0 0;
					}
					&.label {
						@include span-columns(9);
						@include text-small;
						margin: 2px 0 0 0;
						// margin-top: 2px;
						padding-left: 5px;
						
					}
				}
			}
		}
	}
}


.workshops-and-activity {
	p {
		&:last-child {
			margin-bottom: 20px;
		}
	}
	a {
		margin-bottom: 20px;
	}
}





