
.alert-wrapper {
  max-width: $bp3;
  
  // bring padding for the rightwrapper down to 10px until in desktop mode
  @include media-query-bp($bp3 - 1, "max") {
    padding: 10px 10px 2em 10px;
  }
  a.view-all {
    font-size: .9em;
    float: right;
    margin-bottom: 0px;
  }
}

.notification {
	
	@include clearfix;
	@include text-small;
	@include text-color-normal;
	
	margin: 0 0 0 0;
	
	
	.notification-date {
		@include text-color-light;
		font-weight: lighter;
		margin-bottom: 5px;
		
		@include media-query-bp($bp3) {
			text-align: right;
		}
	}
	
	.notification-author {
		text-align: right;
		font-weight: bold;

                span {
                  display: block;
                }
	}
	
}

body.dashboard .notification {
  .notification-content {
    @include media-query-bp($bp3) {
        padding: 20px;
    }

    .notification-author {
      margin-bottom: 0px;
    }

    .notification-date {
      @include media-query-bp($bp3) {
        text-align: left;
      }
    }
  }
}
