
.alert-wrapper {
	
	// bring padding for the rightwrapper down to 10px until in desktop mode
	@include media-query-bp($bp3 - 1, "max") {
		padding: 10px;
	}
}

.notification {
	
	@include clearfix;
	@include text-small;
	@include text-color-normal;
	
	margin: 0 0 0 0;
	
	@include media-query-bp($bp3) {
		.alert {
			padding: 20px;
		}
	}
	
	.notification-content {
		
		&.alert {
			.notification-author {
				margin-bottom: 0px;
			}
			
			.notification-date {
				@include media-query-bp($bp3) {
					text-align: left;
				}
			}
		}
	}
	
	.notification-date {
		@include text-color-light;
		font-weight: lighter;
		margin-bottom: 5px;
		
		@include media-query-bp($bp3) {
			text-align: right;
		}
	}
	
	.notification-author {
		text-align: right;
		font-weight: bold;
	}
	
	.notification-view-all-link {
		float: right;
		margin-bottom: 0px;
	}
}