// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================


// tmp
.logo {
  float: left;
  text-indent: -9999px;
  width: 38px;
  height: 62px;
  background: image_url("adobe_logo.png") 0 0 no-repeat;
}














////////////////////////
// FROM THE ROOT BASE.CSS.SCSS FILE
////////////////////////

.chzn-container {
	min-width: 110px;
}

table {
	border-collapse: separate; // most likely change this!
	border-spacing: 4px;

	tr.suspended {
		background: #ddd;
	}
}

fieldset {
	margin: 2em 0;
	padding: 1em;

	.radio_buttons {
		label {
			display: inline-block;
			input {
				margin-left: 1em;
			}
		}
	}
}





// 7. VENDOR-SPECIFIC ==============================
// 8. MODERNIZR ==============================
// 9. TEMPLATE SPECIFICS ==============================

// MEDIA QUERIES ==============================

// ALL AT BP4


// include one media-query-bp include for each breakpoint?
// 

.samples {
	@include media-query-bp($bp4) {
	
	
	}
}


