// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

// $bp2 : 480px 	30em
// $bp3 : 600px 	37.5em
// $bp4 : 768px 	48em
// $bp5 : 992px 	62em
// $bp6 : 1382px	86.375em


// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================


// tmp


.pagewrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	// this toggles the nav in from the right side of the page
	&.nav-active {
		nav {
			float: left;
			// width: 75%;
			// margin-left: 25%;
			@include translate3d (25%);
			
		}
		
		.content {
			border-right: 1px solid $lightneutralcolor;
			float: left;
			// margin-left: -75%;
			// width: 100%;
			@include translate3d (-75%);
			
		}
		
		.menu {
			color: $tertiarycolor;
		}
		
		@include media-query-bp($bp3) {
			nav {
				float: none;
				// width: 100%;
				// height: auto;
				@include translate3d (0%);
				// height: 56px;
				height: 58px;
				margin-left: 0;
				border-bottom: 1px solid $lightneutralcolor;
				
			}
			
			.width-limiter {
				height: 58px;
			}
			

			.content {
				// float: left;
				// margin-left: 0;
				// width: 100%;
				@include translate3d (0%);
				border-right: none; 	
			}
		}
		
	}
}

header {
	
	@include clearfix;
	position: relative;
	background-color: #000;
	@include navbargrad;
	min-height: 55px;
	color: $white;
	
	z-index: 30;
	
	.logo {
		position: absolute;
		top: 0px;
		left: 0px;
		text-indent: -9999px;
		width: 38px;
		height: 62px;
		background: image_url("adobe_logo.png") 0 0 no-repeat;
		z-index: 500;
	}
	
	.headerwrapper {
		max-width: $bp6;
	}
	
	.leftheader {
		float: left;
	}
	
	.rightheader {
		float: right;
		// font-size: 1.1875em;
		@include text-h2-size;
		margin: 15px 0px 0px 0px;
		
		.icon {
			display: inline-block;
			vertical-align: top;
			font-size: 28px;
			margin-top: 0px;
			margin-right: 5px;
		}
		
		.icon-menu {
			font-size: 23px;
		}
		
		.label {
			display: inline-block;
			max-width: 0px;
			overflow: hidden;
		}
		
		@include media-query-bp($bp4) {
			.label {
				max-width: 350px;
			}
			
			a {
				padding: 0px 40px 0px 0px;
			}
		}
		
		
	}
	
	.program-title {
          a, a:visited {
            color: #fff;
          }
		
		@include transition(all, .25s);
		
		// transition: .5s all ease;			
		// -webkit-transition: .5s all ease;
		
		padding: 12px 0 0 53px;
		margin: 0 0 0 0;
		font-size: 20px;
		
		display: inline-block;
		max-width: 0px;
		height: 45px;
		overflow: hidden;
		
		@include media-query-bp($bp3) {
			max-width: 800px;
			// font-size: 24px;
		}
		
		@include media-query-bp($bp4) {
			// max-width: 800px;
			font-size: 24px;
			padding: 10px 0 0 53px;
		}
		
	}
	
	a {
		
		@include transition(all, .25s);
		
		// transition: .5s all ease;			
		// -webkit-transition: .5s all ease;
		
		text-decoration : none;
		color : $textcolorlight;
		
		padding: 0px 20px 0px 0px;
		
		
		&:visited {
			color : $textcolorlight;
		}

		&:hover {
			text-decoration : none;
			color : $tertiarycolor;
		}

		&:focus {
			outline : thin dotted;
			color : $tertiarycolor;
		}

		&:hover,
		&:active {
			outline : 0;
			color: $tertiarycolor;
		}

	}
	
	
}

@include main-nav('dashboard');
@include main-nav('newsfeed');

@include sub-nav('members');
@include sub-nav('notifications');
@include sub-nav('my-profile');

body.newsfeed {
  p.alert, p.notice {
    display: none;
  }
}

nav {
	
	@include transition(all, .25s);
	-webkit-backface-visibility: hidden;
	@include translate3d ();
	
	// transition: .2s all ease;			
	// -webkit-transition: .2s all ease;
	background-color: $white;
	
	// float: left;
	// width: 0;
	// margin-left: 100%;
	overflow-x: hidden;
	position: absolute;
	z-index: 20;
	width: 100%;
	
	@include translate3d (100%);
	
	
	.navwrapper {
		// width: $bp6;
		width:100%
		
	}
	
	ul {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		
		li {
			@include transition(all, .2s);
			// transition: .2s all ease;			
			// -webkit-transition: .2s all ease;
			@include text-h2-size;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			list-style: none;
			// font-size: 1.1875em; //19/16 = 1.1875
			
		}
	}
	
	a {
		cursor: pointer;
		@include transition(all, .2s);
		// transition: .2s all ease;
		// -webkit-transition: .2s all ease;
		// text-decoration : none;
		display: inline-block;
		color : $textcolorlight;
		height: 55px;
		border-bottom: 1px solid $lightneutralcolor;
		width: 100%;
		// width: auto;
		padding: 16px 0px 0px 16px ;
		
		
		&:visited {
			color : $textcolorlight;
		}

		&:hover {
			text-decoration : none;
			color : $textcolor;
		}

		&:focus {
			outline : thin dotted;
			color : $textcolor;
		}

		&:hover,
		&:active {
			outline : 0;
			color: $textcolor;
			border-bottom: 4px solid $textcolor;
		}

	}
	
	.icon {
		margin-right: 5px;
	}
	
	
	@include media-query-bp($bp3) {
		position: relative;
		overflow-y: visible;
		overflow-x: visible;
		width: 100%;
		height: 0px;
		float: none;
		@include translate3d (0%);
		
		// margin-left: 0;
		
		.navwrapper {
			width: auto;
			max-width: $bp6;
			position: absolute;
			bottom: -1px;
			right: 0px;
		}
		
		.width-limiter {
			@include transition(all);
			@include clearfix;
			max-width: $bp6;
			position: relative;
			height: 0px;
			overflow: hidden;
		}
		
		ul {
			float: right;
			li {
				float: left;
				padding: 0px 0px 0px 16px;
				margin: 0 20px 0 0;
				
			}
		}
		
		a {
			
			padding: 16px 0px 0px 0px ;
			border-bottom: none;
			
			
		}
		.icon {
			// width: 0px;
			display: none;
		}
	}

	@include media-query-bp($bp4) {
		ul {
			li {
				margin: 0 40px 0 0;
			}
		}
	}
	
}

.content {
	
	// @include transition($property: all, $duration: $transitionduration, $ms: false)
	-webkit-backface-visibility: hidden;
	@include translate3d ();
	
	@include transition(all);
	
	// transition: .2s all ease;			
	// -webkit-transition: .2s all ease;
	// position: absolute;
	float: left;
	width: 100%;
	background-color: $sidebarbg;
	
	@include media-query-bp($bp5) {
		border-right-style: none;
	}
	
	@include outer-container;
	
	.leftcol {
		-webkit-backface-visibility: hidden;
		@include translate3d ();
		
		background-color: $sidebarbg;
		display : none;
		visibility : hidden;
		
		@include media-query-bp($bp3) {
			
			display: block;
			visibility: visible;
			
			
			@include span-columns(4);
			@include omega();
		}
		
	}
	
	.rightcol {
		-webkit-backface-visibility: hidden;
		@include translate3d ();
		
		background-color: darken($tertiarycolor, 5%);
		
		@include media-query-bp($bp3) {
			
			background-color: $maincontentbg;
			
			@include span-columns(8, table);
			// padding: 40px 60px;
			
		}
		
	}
	
	// hide the rightwrapper that contains the duplicate profile content 
	// when larger than the 3rd breakpoint
	&.student-profile {
		@include media-query-bp($bp3) {
			.rightcol {
				.rightwrapper:first-child {
					display: none;
				}
			}
		}
	}
}

.profile-banner {
	
	.student-profile & {
		height: 90px;
		background-image: image_url("profile-bg.jpg");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		@include media-query-bp($bp3) {
			height: 120px;
		}
	}
}

// inner left and right column units of content. 
// contains padding, margins, borders
.leftwrapper {
	word-wrap: break-word;
	
	padding: 20px 20px 20px 20px;
	border-top: 1px solid $tertiarycolor;
	border-bottom: 1px solid $lightneutralcolor;
	
	&:first-child {
		border-top: none;
	}
	
	@include media-query-bp($bp4) {
		padding: 30px 30px 30px 30px;
	}
}

.rightwrapper {
	
	// padding: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	// border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid $tertiarycolor;
	border-bottom: 1px solid $lightneutralcolor;
	
	&:first-child {
		border-top: none;
	}
	
	@include media-query-bp($bp3) {
		padding: 20px 20px 20px 20px;
		border-top: none;
		border-bottom: 1px solid #E7E7E7;
		
		// set the max width of child elements 
		* {
			max-width: 530px;
		}
	}
	
	@include media-query-bp($bp4) {
		// padding: 20px 20px 20px 60px;
		padding: 40px 30px 40px 60px;
	}
	
}

.contentheader {
	
	text-align: center;
	
	h2 {
		margin: 0 0 10px 0;
	}
	
	p {
		@include text-small;
		@include text-color-light;
		margin: 0 0 10px 0;
	}
	
	.leftwrapper & {
		text-align: left;	
	}
	
	@include media-query-bp($bp3) {
		text-align: left;
	}
}




footer {
	
	@include clearfix;
	padding: 10px 10px 10px 10px;
	
	ul {
		
		float: left;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		
		li {
			list-style: none;
			float: left;
			margin: 0 10px 0 0;
			font-size: 10px;
			line-height: 10px;
		}
	}
	
	p {
		float: right;
		margin: 0 0 0 0;
		font-size: 10px;
		line-height: 10px;
	}
}









////////////////////////
// FROM THE ROOT BASE.CSS.SCSS FILE
////////////////////////

.chzn-container {
	min-width: 110px;
	margin-bottom : $baselineheight / 2;
	
}

table {
	border-collapse: separate; // most likely change this!
	border-spacing: 4px;

	tr.suspended {
		background: #ddd;
	}
}

fieldset {
	// margin: 2em 0;
	// padding: 1em;
	
	margin: 0 0;
	padding: 0 0;
	
	.radio_buttons {
		@include clearfix;
		
		label {
			
			margin-bottom: 10px;
			
			&.radio {
				display: inline-block;
				@include span-columns(2 of 10);
				text-align: center;
				@include text-color-light;
				margin-bottom: 20px;
				@include text-small;
			}
			
			input {
				// margin-left: 1em;
				display: block;
				margin: 0 auto 10px auto !important;
				// width: 100%;
				float: none !important;
				margin-bottom: 10px;
			}
		}
	}
}





// 7. VENDOR-SPECIFIC ==============================
// 8. MODERNIZR ==============================
// 9. TEMPLATE SPECIFICS ==============================

// MEDIA QUERIES ==============================

// ALL AT BP4


// include one media-query-bp include for each breakpoint?
// 

.samples {
	@include media-query-bp($bp4) {
	
	
	}
}


