// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

// $bp2 : 480px 	30em
// $bp3 : 600px 	37.5em
// $bp4 : 768px 	48em
// $bp5 : 992px 	62em
// $bp6 : 1382px	86.375em


// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================


// tmp


.pagewrapper {
	position: relative;
	
	margin: 0 auto;
	
	// this toggles the nav in from the right side of the page
	&.nav-active {
		nav {
			float: left;
			width: 75%;
			margin-left: 25%;
		}
		
		.content {
			border-right: 1px solid $lightneutralcolor;
			float: left;
			margin-left: -75%;
			width: 100%;
		}
		
		.menu {
			color: $tertiarycolor;
		}
		
		@include media-query-bp($bp3) {
			nav {
				float: none;
				width: 100%;
				// height: auto;
				height: 56px;
				margin-left: 0;
				border-bottom: 1px solid $lightneutralcolor;
				
			}

			.content {
				// float: left;
				margin-left: 0;
				// width: 100%;
				border-right: none; 	
			}
		}
		
	}
}

header {
	
	@include clearfix;
	position: relative;
	background-color: #000;
	@include navbargrad;
	min-height: 55px;
	color: $white;
	
	.logo {
		position: absolute;
		top: 0px;
		left: 0px;
		text-indent: -9999px;
		width: 38px;
		height: 62px;
		background: image_url("adobe_logo.png") 0 0 no-repeat;
		z-index: 500;
	}
	
	.headerwrapper {
		max-width: $bp6;
	}
	
	.leftheader {
		float: left;
	}
	
	.rightheader {
		float: right;
		font-size: 1.1875em;
		margin: 15px 0px 0px 0px;
		
		.icon {
			display: inline-block;
			vertical-align: top;
			font-size: 28px;
			margin-top: 0px;
			margin-right: 5px;
		}
		
		.icon-menu {
			font-size: 23px;
		}
		
		.label {
			display: inline-block;
			max-width: 0px;
			overflow: hidden;
		}
		
		@include media-query-bp($bp5) {
			.label {
				max-width: 350px;
			}
			
			a {
				padding: 0px 40px 0px 0px;
			}
		}
		
		
	}
	
	.program-title {
		transition: .5s all ease;			
		-webkit-transition: .5s all ease;
		
		padding: 12px 0 0 53px;
		margin: 0 0 0 0;
		font-size: 20px;
		
		display: inline-block;
		max-width: 0px;
		height: 45px;
		overflow: hidden;
		
		@include media-query-bp($bp3) {
			max-width: 800px;
			// font-size: 24px;
		}
		
		@include media-query-bp($bp4) {
			// max-width: 800px;
			font-size: 24px;
			padding: 10px 0 0 53px;
		}
		
	}
	
	a {
		transition: .5s all ease;			
		-webkit-transition: .5s all ease;
		
		text-decoration : none;
		color : $textcolorlight;
		
		padding: 0px 20px 0px 0px;
		
		
		&:visited {
			color : $textcolorlight;
		}

		&:hover {
			text-decoration : none;
			color : $tertiarycolor;
		}

		&:focus {
			outline : thin dotted;
			color : $tertiarycolor;
		}

		&:hover,
		&:active,
		&.active {
			outline : 0;
			color: $tertiarycolor;
		}

	}
	
	
}

nav {
	transition: .2s all ease;			
	-webkit-transition: .2s all ease;
	background-color: $white;
	
	float: left;
	width: 0;
	margin-left: 100%;
	overflow-x: hidden;
	position: absolute;
	
	.navwrapper {
		width: $bp6;
		
	}
	
	ul {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		
		li {
			transition: .2s all ease;			
			-webkit-transition: .2s all ease;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			list-style: none;
			font-size: 1.1875em; //19/16 = 1.1875
			
		}
	}
	
	a {
		transition: .2s all ease;			
		-webkit-transition: .2s all ease;
		// text-decoration : none;
		display: inline-block;
		color : $textcolorlight;
		height: 55px;
		border-bottom: 1px solid $lightneutralcolor;
		width: 100%;
		padding: 16px 0px 0px 16px ;
		
		
		&:visited {
			color : $textcolor;
		}

		&:hover {
			text-decoration : none;
			color : $textcolor;
		}

		&:focus {
			outline : thin dotted;
			color : $textcolor;
		}

		&:hover,
		&:active,
		&.active {
			outline : 0;
			color: $textcolor;
			border-bottom: 4px solid $textcolor;
		}

	}
	
	.icon {
		margin-right: 5px;
	}
	
	
	@include media-query-bp($bp3) {
		position: static;
		overflow-y: hidden;
		overflow-x: visible;
		width: 100%;
		height: 0;
		float: none;
		margin-left: 0;
		
		.navwrapper {
			width: auto;
			max-width: $bp6;
		}
		
		ul {
			float: right;
			li {
				float: left;
				padding: 0px 0px 0px 16px;
				margin: 0 20px 0 0;
				
			}
		}
		
		a {
			
			padding: 16px 0px 0px 0px ;
			border-bottom: none;
			
			
		}
		.icon {
			// width: 0px;
			display: none;
		}
	}

	@include media-query-bp($bp4) {
		ul {
			li {
				margin: 0 40px 0 0;
			}
		}
	}
	
}

.content {
	
	transition: .2s all ease;			
	-webkit-transition: .2s all ease;
	position: absolute;
	// float: left;
	width: 100%;
	background-color: $sidebarbg;
	
	@include media-query-bp($bp5) {
		border-right-style: none;
	}
	
	@include outer-container;
	
	.leftcol {
		
		background-color: $sidebarbg;
		display : none;
		visibility : hidden;
		
		@include media-query-bp($bp3) {
			
			display: block;
			visibility: visible;
			
			
			@include span-columns(4);
			@include omega();
		}
		
	}
	
	.rightcol {
		
		background-color: darken($tertiarycolor, 5%);
		
		@include media-query-bp($bp3) {
			
			background-color: $maincontentbg;
			
			@include span-columns(8, table);
			// padding: 40px 60px;
			
		}
		
	}
}

// inner left and right column units of content. 
// contains padding, margins, borders
.leftwrapper {
	padding: 20px 60px 20px 40px;
	border-top: 1px solid $tertiarycolor;
	border-bottom: 1px solid $lightneutralcolor;
	
	&:first-child {
		border-top: none;
	}
}

.rightwrapper {
	
	padding: 10px 10px 10px 10px;
	// border-bottom: 1px solid #E7E7E7;

	border-top: 1px solid $tertiarycolor;
	border-bottom: 1px solid $lightneutralcolor;
	
	&:first-child {
		border-top: none;
	}


	
	@include media-query-bp($bp3) {
		padding: 20px 20px 20px 60px;
		border-top: none;
		border-bottom: 1px solid #E7E7E7;
		
		// set the max width of child elements 
		div {
			max-width: 530px;
		}
	}
	
	@include media-query-bp($bp4) {
		// padding: 20px 130px 20px 60px;
	}
	
	&.dark {
		background-color: $wellbg;
		color: $tertiarycolor;
	}
	
}



// NEWSFEED CONTENT //////////////////////////////////////////////

.post {
	background-color: $white;
	// padding: 10px 10px 0px 10px;
	
	p {
		margin-top: 0;
	}
	
	@include media-query-bp($bp3) {
		padding: 0px 0px 0px 0px;
	}
}

.post-author {
	
	position: relative;
	min-height: 56px;
	margin-bottom: 5px;
	padding: 10px 10px 10px 10px;
	
	p {
		margin: 0 0 0 60px;
		padding-top: 6px;
	}
	
	.author-image {
		position: absolute;
		left: 5px;
		top: 5px;
		width: 56px; // add 3 px all around to accomodate for 3px stroke
	}
	
	.author-name {
		@include text-h2-size;
		margin: 0 0 0 0;
	}
	
	.author-school-name {
		@include text-xsmall;
		display: block;
		font-weight: bold;
	}
	
	@include media-query-bp($bp3) {
		
		min-height: auto;
		padding: 0px 0px 0px 0px;
		padding-top: 24px;
		margin-bottom: 12px;
		
		p {
			margin: 0 0 0 0;
			padding-top: 0px;
		}
		
		.author-image {
			position: absolute;
			left: -82px; // 66 + 16 = 82
			top: 0px;
			width: 66px; // add 3 px all around to accomodate for 3px stroke
		}
		.author-school-name {
			display: inline-block;
		}
	}
}

// .post-content
//         
//   %p Colonies descended from astronomers, dream of the mind's eye the ash of stellar alchemy, hydrogen atoms? Inconspicuous motes of rock and gas.
//   %p Dream of the mind's eye the only home we've ever known. Descended from astronomers science rich in mystery? Jean-François Champollion venture a billion trillion shores of the cosmic ocean?
// 
//   .post-image
//     %img{:src => "http://placekitten.com/800/500"}
// 
//   %span.timestamp
//     / %span.icon.icon-clock / need this icon
//     %span.icon.icon-workshops
//     %span.short-time
//       16h
//     %span.long-time
//       16 hours ago
// 


.post-content {
	
	padding: 0px 10px 10px 10px;
	
	@include media-query-bp($bp3) {
		padding: 0 0 0 0;
	}
	.post-image {
		margin-bottom: 10px;
	}
	
	.timestamp {
		@include text-xsmall;
		@include text-color-light;
		
		.long-time {
			display: none;
		}
		
		@include media-query-bp($bp3) {
			.long-time {
				display: inline-block;
			}
			.short-time {
				display: none;
			}
		}
	}
	
	.rating {
		@include text-xsmall;
		@include text-color-light;
		float: right;
		
		.icon-star {
	        position:relative;
			
			&.star-lit {
				color: #fbab20;
				text-shadow: 0px 1px 1px rgba($textcolorlight, .5);
			}
			
		    &:after {
		        content: '';
		        position:absolute;
		        display:block;
		        top:0;
		        left:0;
		        height:100%;
		        width:100%;
		        background: -moz-linear-gradient(	top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: -webkit-linear-gradient(top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: -o-linear-gradient(		top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: -ms-linear-gradient(	top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        background: linear-gradient(		top,  rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
		        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
		    }
		}
		
	}
	
}

.post-action {
	
	// p {
		// display: table;
		
		// @include outer-container;
		
		// @include row (12);
	// }
	
	@include clearfix;
	
	a {
		display: block;
		width: 50%;
		float: left;
		// $buttonpadding 					: 5px 15px 5px 15px;
		padding: 8px 5px 8px 5px;;
		background-color: $tertiarycolor;
		@include text-h2-size;
		// include margin bottom below ht text size import to override
		margin-bottom: 0px;
		text-align: center;
		
		// @include span-columns(6, table);
		// @include pad();
		// @include omega;
		
		&:last-child {
			// @include reset-display;
			// @include omega()
			border-left: 1px solid $lightneutralcolor;
			@include text-color-light;
		}
		
	}
}



// .post-comments
//   %a{:class => "more-comments", :href => "#"} 2 more comments
//   .comment
//     .img-circle
//       %a{:href => "/users/5"}
//         %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
//     %p 
//       %span.author-name
//         %a{:href => "/users/5"} Michael Hfuhruhur
//       Tunguska event? Venture, gathered by gravity, prime number, Sea of Tranquility the carbon in our apple pies Drake Equation!
//     %p 
//       At the edge of forever, science rich in heavy atoms tingling of the spine from which we spring cosmic fugue, inconspicuous motes of rock and gas something incredible is waiting to be known brain is the seed of intelligence another world Orion's sword Cambrian explosion.
// 

.post-comments {
	background-color: $sidebarbg;
	padding: 10px;
	margin: 10px 10px 16px 10px;
	
	@include media-query-bp($bp3) {
		margin: 10px 0px 16px 0px;
	}
	
	.more-comments {
		// @include text-h2-size;
		font-weight: bold;
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0 0 0 0;
	
		&.hidden {
			display: none;
		}
	}
	
	.comment {
		position: relative;
		min-height: 51px;
		margin-bottom: 6px;
		
		p {
			margin: 0 0 0 60px;
			// padding-top: 16px;
			@include text-small;
			@include text-color-light;
			
			&:first-of-type {
				padding-top: 16px;
			}
			
			&:last-child {
				margin-bottom: 0px;
			}
		}
		
		.author-image {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 51px; // 45 + add 3 px all around to accomodate for 3px stroke
			float: left;
		}
	}
	
	@include media-query-bp($bp3) {
		padding: 20px 20px 20px 20px;
		
	}
	
	
}

.comment-form {
	margin: 0 0 0 0;
	padding: 0px 10px 0px 10px;
	
	@include media-query-bp($bp3) {
		padding: 0 0 0 0;
	}
	
}


// END NEWSFEED CONTENT //////////////////////////////////////////////




/*Dylan Temp*/
.avatar-xlg {
	width: 140px;
	height: 140px;
}

.avatar-lg {
	width: 120px;
	height: 120px;
}

.avatar-med {
	width: 60px;
	height: 60px;
}

.avatar-sm {
	width: 40px;
	height: 40px;
}

#posts-container {
	.post {
		clear: left;
		margin-top: 1px;
		margin-bottom: 2em;
		/*border-bottom: solid;*/
		padding-bottom: 2em;

		h4 {
			margin-bottom: .2em;
		}

	}

	.comment-link, .like-link {
		float: left;
	}

	.comment-link {
		position: relative;
		margin-right: 1.2em;

		&.open {
			width: 100%;
		}

		#comment-form {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

			button {
				float: right;

				&.cancel {
					margin-left: .4em;
				}

			}

		}

	}

}

footer {
	
	@include clearfix;
	padding: 10px 10px 10px 10px;
	
	ul {
		
		float: left;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		
		li {
			list-style: none;
			float: left;
			margin: 0 10px 0 0;
			font-size: 10px;
			line-height: 10px;
		}
	}
	
	p {
		float: right;
		margin: 0 0 0 0;
		font-size: 10px;
		line-height: 10px;
	}
}









////////////////////////
// FROM THE ROOT BASE.CSS.SCSS FILE
////////////////////////

.chzn-container {
	min-width: 110px;
}

table {
	border-collapse: separate; // most likely change this!
	border-spacing: 4px;

	tr.suspended {
		background: #ddd;
	}
}

fieldset {
	margin: 2em 0;
	padding: 1em;

	.radio_buttons {
		label {
			display: inline-block;
			input {
				margin-left: 1em;
			}
		}
	}
}





// 7. VENDOR-SPECIFIC ==============================
// 8. MODERNIZR ==============================
// 9. TEMPLATE SPECIFICS ==============================

// MEDIA QUERIES ==============================

// ALL AT BP4


// include one media-query-bp include for each breakpoint?
// 

.samples {
	@include media-query-bp($bp4) {
	
	
	}
}


