@font-face {
	font-family: 'Adobe-CAP-Icon-Set';
	src: asset-url('Adobe-CAP-Icon-Set.eot', font);
	src: asset-url('Adobe-CAP-Icon-Set.eot?#iefix', font) format('embedded-opentype'),
          asset-url('Adobe-CAP-Icon-Set.woff', font) format('woff'),
          asset-url('Adobe-CAP-Icon-Set.ttf', font) format('truetype'),
          asset-url('Adobe-CAP-Icon-Set.svg#Adobe-CAP-Icon-Set', font) format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Adobe-CAP-Icon-Set';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-workshops, .icon-video, .icon-twitter, .icon-star, .icon-share, .icon-rating, .icon-profile, .icon-plus, .icon-pin, .icon-photo, .icon-notifications, .icon-newsfeed, .icon-more, .icon-menu, .icon-mail, .icon-logout, .icon-like, .icon-instagram, .icon-fb, .icon-expand, .icon-edit, .icon-edit-hover, .icon-dashboard, .icon-contract, .icon-comment, .icon-close, .icon-clock, .icon-box-3-plus, .icon-box-2, .icon-box-1, .icon-behance, .icon-attendees {
	font-family: 'Adobe-CAP-Icon-Set';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-workshops:before {
	content: "\77";
}
.icon-video:before {
	content: "\76";
}
.icon-twitter:before {
	content: "\74";
}
.icon-star:before {
	content: "\73";
}
.icon-share:before {
	content: "\5e";
}
.icon-rating:before {
	content: "\72";
}
.icon-profile:before {
	content: "\31";
}
.icon-plus:before {
	content: "\61";
}
.icon-pin:before {
	content: "\50";
}
.icon-photo:before {
	content: "\70";
}
.icon-notifications:before {
	content: "\4e";
}
.icon-newsfeed:before {
	content: "\6e";
}
.icon-more:before {
	content: "\2c";
}
.icon-menu:before {
	content: "\6d";
}
.icon-mail:before {
	content: "\6c";
}
.icon-logout:before {
	content: "\6f";
}
.icon-like:before {
	content: "\4c";
}
.icon-instagram:before {
	content: "\69";
}
.icon-fb:before {
	content: "\66";
}
.icon-expand:before {
	content: "\23";
}
.icon-edit:before {
	content: "\5b";
}
.icon-edit-hover:before {
	content: "\5d";
}
.icon-dashboard:before {
	content: "\64";
}
.icon-contract:before {
	content: "\2d";
}
.icon-comment:before {
	content: "\43";
}
.icon-close:before {
	content: "\63";
}
.icon-clock:before {
	content: "\3e";
}
.icon-box-3-plus:before {
	content: "\2b";
}
.icon-box-2:before {
	content: "\3d";
}
.icon-box-1:before {
	content: "\b1";
}
.icon-behance:before {
	content: "\62";
}
.icon-attendees:before {
	content: "\32";
}
