// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

[role="banner"] {
	@include clearfix;
}

////////////////////////
// FROM THE ROOT BASE.CSS.SCSS FILE
////////////////////////


// tmp
.logo {
  float: left;
  text-indent: -9999px;
  width: 38px;
  height: 62px;
  background: image_url("adobe_logo.png") 0 0 no-repeat;
}

.chzn-container {
	min-width: 110px;
}

table {
	border-collapse: separate; // most likely change this!
	border-spacing: 4px;

	tr.suspended {
		background: #ddd;
	}
}

fieldset {
	margin: 2em 0;
	padding: 1em;

	.radio_buttons {
		label {
			display: inline-block;
			input {
				margin-left: 1em;
			}
		}
	}
}

