%h3 Admin Tools
%ul
  %li
    = link_to t('links.dashboard.manage_users'), dashboard_manage_users_path
  %li
    = link_to t('links.dashboard.manage_programs'), "/manage-programs"
  %li
    = link_to t('links.dashboard.manage_schools'), "/manage-schools"
  %li
    = link_to t('links.dashboard.manage_adobe_products'), dashboard_manage_adobe_products_path
