%h3 Admin Tools
%ul
  %li
    = link_to t('links.dashboard.manage_users.title'), dashboard_manage_users_path
  %li
    = link_to t('links.dashboard.manage_programs.title'), "/manage-programs"
  %li
    = link_to t('links.dashboard.manage_schools.title'), "/manage-schools"
  %li
    = link_to t('links.dashboard.manage_adobe_products.title'), dashboard_manage_adobe_products_path
