%h3 Admin Tools
%ul
  %li
    = link_to t('titles.manage_programs'), dashboard_admin_programs_path
  %li
    = link_to t('titles.manage_users'), dashboard_admin_users_path
  %li
    = link_to t('titles.manage_schools'), dashboard_admin_schools_path
  %li
    = link_to t('titles.manage_adobe_products'), dashboard_admin_adobe_products_path
